aniso8601==9.0.1
black==24.8.0
blinker==1.8.2
click==8.1.7
Flask==3.0.3
Flask-RESTful==0.3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.3.6
pytesseract==0.3.13
pytz==2024.2
six==1.16.0
Werkzeug==3.0.4
